:root {
  --text-color: #1a1a1a;
  --primary-bg: #fff8f2 /* #FFFFDD; */
  --secondary-bg: #F8F8D7;
  --secondary-text-size: 13px;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  height: 100%;
}

body {
  margin: 0 20px;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.post-content {
  margin-top: 10px;
}

a:link,
a:visited {
  color: var(--text-color);
  text-decoration: underline;
  font-weight: bold;
}

hr {
  margin: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.post-meta {
  font-size: 12px;
}

/* Button */
button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  outline: none;
  box-shadow: none;
  background: #111111;
  color: #fff;
  padding: 8px 15px;
  font-size: 0.95rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #333;
  border-color: #000000;
}

/* directory */
.breadcrumb {
  font-size: var(--secondary-text-size);
  opacity: .7;
}

.breadcrumb a {
  text-decoration: none;
  color: inherit;
}

.breadcrumb span {
  margin: 0 6px;
}

/* Spa */
#page_holder {
  margin-top: 12px;
  position: relative;
  flex: 1;
}

/* base */
.page-content {
  position: relative;
  opacity: 0;
  transform: translateY(-24px);
  transition:
    transform 0.45s ease,
    opacity 0.45s ease;
}

/* masuk dari atas */
.page-content.enter {
  opacity: 1;
  transform: translateY(0);
}

/* keluar ke bawah */
.page-content.exit {
  opacity: 0;
  transform: translateY(24px);
}

/* 404 */
.page-404 {
  padding: 1em 2em 2em;
  background:#fee;
  color:#900
  opacity: 0;
  transform: translateY(-20px);
  transition:
    opacity .4s ease,
    transform .4s ease;
}

.page-404.show {
  opacity: 1;
  transform: translateY(0);
}

/* Semua gambar di page_holder responsif */
#page_holder img {
  max-width: 100%;   /* jangan melebihi container */
  height: auto;      /* proporsional */
  display: block;    /* hilangkan inline spacing */
  margin: 0 auto;    /* optional: tengahkan gambar */
}

/* Blockquote */
blockquote {
  position: relative;
  margin: 3rem 0;
  padding: 20px 10px 20px 50px;
  font-style: italic;
  line-height: 1.6;
  color: #111;
  background: var(--secondary-bg);
  border-left: 3px solid #111;
  text-align: left;
}

blockquote::before {
  content: "❛";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 3rem;
  color: #111;
  line-height: 1;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 1em 0;
  font-size: 14px;
}

/* Header */
th {
  text-align: left;
  padding: 8px;
}

/* Cell */
td {
  padding: 8px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

/* Post navigation links */
.post_navi {
  display: flex;
  margin: 20px 0 0 0;
  padding: 20px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.site-footer {
  text-align: center;
  padding: 1.5em 0;
  background: transparent;
  font-size: var(--secondary-text-size);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
