:root {
  --accent: #FF0F00;
}

body {
    margin: 0 20px;
    background-color: #FFFFDD;
}
a:link,
a:visited {
  color: var(--accent);
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}
hr {
    margin: 5px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
code {
    background-color: #d8e7ff;
    color: #002b72;
}

/* Post navigation links */
.post_navi {
  display: flex;
  margin: 20px 0;
  padding: 20px 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}

.site-footer {
  text-align: center;
  padding: 1.5em 0;
  background: transparent;
  font-size: 0.9rem;
  color: #555;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.site-footer a {
  color: #3366cc;
  text-decoration: none;
}
.site-footer a:hover {
  text-decoration: underline;
}
