/* Rouge Shiki Light Theme */
/* Inspired by Shiki GitHub Light */

code {
  background-color: #d8e7ff;
  color: #002b72;
  padding: 3px 5px;
  border-radius: 6px;
}

.highlight code {
  background: transparent;
}

.highlight .highlight { 
  font-size: 16px; 
  background-color: #FAFBFC; 
  border-radius: 8px; 
  padding: 1em;
  overflow: auto;
  border: 1px solid #E9EAEB;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.03);
}

/* .highlight .hll { background-color: #2DAE5822; } selection highlight */

.highlight .c   { color: #ADB1C2; font-style: italic } /* Comment */
.highlight .err { color: #FF5C56; background-color: #FFAEAC33 } /* Error */
.highlight .k   { color: #F767BB; font-weight: bold } /* Keyword */
.highlight .o   { color: #ADB1C2; font-weight: bold } /* Operator */
.highlight .cm  { color: #ADB1C2; font-style: italic } /* Comment.Multiline */
.highlight .cp  { color: #9194A2; font-weight: bold } /* Comment.Preproc */
.highlight .c1  { color: #ADB1C2; font-style: italic } /* Comment.Single */
.highlight .cs  { color: #9194A2; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd  { color: #FF5C56; background-color: #FFAEAC33 } /* Generic.Deleted */
.highlight .ge  { color: #565869; font-style: italic } /* Generic.Emph */
.highlight .gr  { color: #FF5C56 } /* Generic.Error */
.highlight .gh  { color: #9194A2; font-weight: bold } /* Generic.Heading */
.highlight .gi  { color: #2DAE58; background-color: #35CF6833 } /* Generic.Inserted */
.highlight .go  { color: #9194A2 } /* Generic.Output */
.highlight .gp  { color: #11658F; font-weight: bold } /* Generic.Prompt */
.highlight .gs  { font-weight: bold } /* Generic.Strong */
.highlight .gu  { color: #11658F; font-weight: bold } /* Generic.Subheading */
.highlight .gt  { color: #FF5C56 } /* Generic.Traceback */
.highlight .kc  { color: #F767BB; font-weight: bold } /* Keyword.Constant */
.highlight .kd  { color: #F767BB; font-weight: bold } /* Keyword.Declaration */
.highlight .kn  { color: #F767BB; font-weight: bold } /* Keyword.Namespace */
.highlight .kp  { color: #F767BB; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr  { color: #F767BB; font-weight: bold } /* Keyword.Reserved */
.highlight .kt  { color: #13BBB7; font-weight: bold } /* Keyword.Type */
.highlight .m   { color: #FF5C57 } /* Literal.Number */
.highlight .s   { color: #CF9C00 } /* Literal.String */
.highlight .na  { color: #FF8380 } /* Name.Attribute */
.highlight .nb  { color: #09A1ED } /* Name.Builtin */
.highlight .nc  { color: #13BBB7; font-weight: bold } /* Name.Class */
.highlight .no  { color: #2DAE58 } /* Name.Constant */
.highlight .nd  { color: #11658F; font-weight: bold } /* Name.Decorator */
.highlight .ni  { color: #CF9C00 } /* Name.Entity */
.highlight .ne  { color: #FF5C56; font-weight: bold } /* Name.Exception */
.highlight .nf  { color: #09A1ED; font-weight: bold } /* Name.Function */
.highlight .nl  { color: #11658F; font-weight: bold } /* Name.Label */
.highlight .nn  { color: #565869 } /* Name.Namespace */
.highlight .nt  { color: #13BBB7 } /* Name.Tag */
.highlight .nv  { color: #565869 } /* Name.Variable */
.highlight .ow  { color: #ADB1C2; font-weight: bold } /* Operator.Word */
.highlight .w   { color: #ADB1C255 } /* Text.Whitespace */
.highlight .mf  { color: #FF5C57 } /* Literal.Number.Float */
.highlight .mh  { color: #FF5C57 } /* Literal.Number.Hex */
.highlight .mi  { color: #FF5C57 } /* Literal.Number.Integer */
.highlight .mo  { color: #FF5C57 } /* Literal.Number.Oct */
.highlight .sb  { color: #CF9C00 } /* Literal.String.Backtick */
.highlight .sc  { color: #CF9C00 } /* Literal.String.Char */
.highlight .sd  { color: #CF9C00 } /* Literal.String.Doc */
.highlight .s2  { color: #CF9C00 } /* Literal.String.Double */
.highlight .se  { color: #F5B900 } /* Literal.String.Escape */
.highlight .sh  { color: #CF9C00 } /* Literal.String.Heredoc */
.highlight .si  { color: #CF9C00 } /* Literal.String.Interpol */
.highlight .sx  { color: #CF9C00 } /* Literal.String.Other */
.highlight .sr  { color: #13BBB7 } /* Literal.String.Regex */
.highlight .s1  { color: #CF9C00 } /* Literal.String.Single */
.highlight .ss  { color: #CF9C00 } /* Literal.String.Symbol */
.highlight .bp  { color: #09A1ED } /* Name.Builtin.Pseudo */
.highlight .vc  { color: #565869 } /* Name.Variable.Class */
.highlight .vg  { color: #565869 } /* Name.Variable.Global */
.highlight .vi  { color: #565869 } /* Name.Variable.Instance */
.highlight .il  { color: #FF5C57 } /* Literal.Number.Integer.Long */
