title: "Little Note"
author: "Apip"
description: "0Some short description of your blog can go here." # This will show up in places like twitter, linkedin, etc, if you share your sites url as a post.

collections:
  blog:
    output: true
    permalink: /blog/:name/

theme: "minima"

rss: rss

kramdown:
  syntax_highlighter_opts:
    disable: false
    
plugins:
  - jekyll-feed
  - jekyll-sitemap

defaults:
  - scope:
      path: ""
      type: post
    values:
      tags: Other
