<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  
  <!-- Konten SPA -->
  <div id="page_holder">
    <nav id="breadcrumb" class="breadcrumb"></nav>
    {{ content }} <!-- Konten homepage langsung muncul -->
  </div>

{% include app-spa.html %}

<footer class="site-footer">
  <p>&copy; 2025 Mouse • Not all rights reserved</p>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a> |
    <a href="{{ '/blog/' | relative_url }}">Blog</a> |
    <a href="{{ '/page/about' | relative_url }}">About</a>
  </nav>
</footer>

<script src="{{ '/js/app-textarea.js' | relative_url }}" defer></script>
<script src="{{ '/js/app-directory-path.js' | relative_url }}" defer></script>
<script src="https://unpkg.com/wavesurfer.js@7/dist/wavesurfer.min.js"></script>
<script src="{{ '/js/app-audio-player.js' | relative_url }}" defer></script>

</body>
</html>
